<div class="close-x"></div>
<div class="content-scroller" style="max-height:500px;">
  <div class="content">
    <img src="https://raw.github.com/egeste/ttLights/master/extension/icons/icon_128.png" />
    <h2 class="title">Welcome to ttLights!</h2>
    <p>ttLights aims to bring the "digital club experience" to a new level on turntable.fm with customizable lighting rigs that you can share with your friends. So enjoy! Explore! And share your awesome lighting setups! Get started by checking out the ttlights settings in Settings &gt; ttLights.<p>
    <h3>Features</h3>
    <ul>
      <li>Animated spotlight modules</li>
      <li>Animated laser modules</li>
      <li>Customizable layouts</li>
      <li>Customizable colors</li>
      <li>Layout export</li>
      <li>Layout import</li>
    </ul>
    <h3>Future Features</h3>
    <ul>
      <li>Flourish</li>
      <li>Color picker</li>
      <li>WebGL animations</li>
      <li>More light modules</li>
      <li>Customizable animations</li>
      <li>Drag &amp; drop lighting modules</li>
      <li>BPM tap button to sync animations</li>
      <li>Lighting effect output filters (strobe, etc)</li>
      <li>More ideas welcome!</li>
    </ul>
    <h3>Found a bug? Want a feature?</h3>
    <p>It's impossible to keep track of every bug and feature request unless they're centralized. If you found a bug or would like to request a feature, please <a href='https://github.com/egeste/ttLights/issues' target='_blank'>submit your comments here.</a></p>
    <p>If you're a developer and want to contribute, please feel free to <a href='https://github.com/egeste/ttLights' target='_blank'>fork me on github</a> and send as many pull requests as your heart desires.</p>
  </div>
</div>